html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#calculator {
  width: 40%;
  aspect-ratio: 1 / 1;
  background-color: slategray;
  border-radius: 2%;
  padding: 2%;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2vh;
}

button {
  font-size: inherit;
  border-radius: 24%;
}

#display-section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: lightgray;
  padding: 3%;
  border-radius: inherit;
  min-height: 24.23%;
}

#secondary-display {
  text-align: end;
  font-size: 0.5em;
  color: dimgray;
  min-height: 40%;
}

#primary-display {
  text-align: end;
}

#erase-buttons {
  display: flex;
  gap: 4px;
  width: 50%;
}

#erase-buttons button {
  flex: 1;
}

#button-grid {
  display: flex;
  gap: 4px;
}


#number-section {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  width: 80%;
  row-gap: 2px;
  column-gap: 1px;
}

#number-section button {
  width: 32%;
}

#operators-section {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 4px;
  width: 16%;
}